:root {
  /* Colors*/
  --clr-white: hsl(0, 0%, 100%);
  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-stone-150: hsl(30, 18%, 87%);
  --clr-stone-600: hsl(30, 10%, 34%);
  --clr-stone-900: hsl(24, 5%, 18%);
  --clr-brown-800: hsl(14, 45%, 36%);
  --clr-rose-800: hsl(332, 51%, 32%);
  --clr-rose-50: hsl(330, 100%, 98%);
  /*Typography*/
  --font-family-main-title: "Young Serif", sans-serif;
  --font-family-main: "Outfit", sans-serif;
  --content-text-size: clamp(1rem, .6667rem + 1.4222vw, 2rem);
  --main-title-size: clamp(2.25rem, 1.3333rem + 3.9111vw, 5rem);
  --header-margin-bottom: clamp(1rem, .6667rem + 1.4222vw, 2rem);
}

@font-face {
  font-family: "Outfit";
  font-weight: 100 900;
  font-style: normal;

  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.woff2") format("woff2"),
  url("./assets/fonts/outfit/Outfit-VariableFont_wght.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Young Serif";
  font-weight: 400;
  font-style: normal;

  src: url("./assets/fonts/young-serif/YoungSerif-Regular.woff2") format("woff2"),
  url("./assets/fonts/young-serif/YoungSerif-Regular.woff") format("woff");
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-reset {
  margin: 0;
}

body {
  margin: 0 auto;
  width: 100%;
  min-width: 23.4375rem; /* 375px */
  font-family: var(--font-family-main);
  font-size: var(--content-text-size);
  line-height: 1.5;
  color: var(--clr-stone-600);
  background-color: var(--clr-stone-100);
}

.wrapper-page {
  background-color: var(--clr-white);
}

.title {
  margin: 0;
  margin-bottom: var(--header-margin-bottom);
  font-family: var(--font-family-main-title);
  font-size: clamp(1.75rem, 1.1667rem + 2.4889vw, 3.5rem);
  font-weight: 400;
  color: var(--clr-brown-800);
}

.section-gap {
  padding-top: clamp(1.625rem, 1.0417rem + 2.4889vw, 3.375rem);
  padding-bottom: clamp(2rem, 1.3333rem + 2.8444vw, 4rem);
}

.section-border {
  position: relative;
}

.section-border::after {
  content: "";
  position: absolute;
  right: clamp(2rem, 1rem + 5vw, 4rem);
  bottom: 0;
  left: clamp(2rem, 1rem + 5vw, 4rem);
  height: 1px;
  background-color: var(--clr-stone-150);
}

.container {
  margin: 0 auto;
  padding-right: clamp(2rem, 1.2958rem + 3.0047vw, 4rem);
  padding-left: clamp(2rem, 1.2958rem + 3.0047vw, 4rem);
}

/*hero*/
.hero {
  padding-bottom: clamp(1.625rem, 1.0000rem + 2.6667vw, 3.5rem);
}

.hero__wrapper-img {
  margin-bottom: calc(3.5629999999999997rem - clamp(1.063rem, .5570rem + 2.1589vw, 2.5rem));
}

.hero__img {
  display: block;
  width: 100%;
  height: auto;

  object-fit: cover;
}

img[alt] {
  line-height: 1.5;
  color: var(--clr-rose-800);
}

.hero__title {
  margin-bottom: clamp(1.438rem, .9173rem + 2.2215vw, 3rem);
  font-size: var(--main-title-size);
  font-weight: 700;
  line-height: 1;
  color: var(--clr-stone-900);
}

/*preparation*/
.preparation {
  padding-top: 7px;
}

.preparation__wrapper {
  padding-top: clamp(1.188rem, .5718rem + 2.6291vw, 2.938rem);
  padding-right: 1.125rem;
  padding-bottom: clamp(1.5rem, .8398rem + 2.8169vw, 3.375rem);
  padding-left: clamp(1.5rem, .7958rem + 3.0047vw, 3.5rem);
  border-radius: 12px;
  background-color: var(--clr-rose-50);
}

.preparation__title {
  margin: 0;
  margin-bottom: clamp(.625rem, .3750rem + 1.0667vw, 1.375rem);
  font-size: clamp(1.25rem, .8540rem + 1.6896vw, 2.438rem);
  color: var(--clr-rose-800);
}

.list {
  display: flex;
  flex-direction: column;
  padding-left: clamp(.5rem, .3750rem + .5333vw, .875rem);

  gap: clamp(.5rem, .324rem + .751vw, 1rem);
}

.list__item {
  display: flex;
  align-items: center;

  gap: clamp(1.75rem, .792rem + 4.08vw, 3.5rem);
}

.list__item--mark::before {
  content: "•";
  display: inline-block;
  font-weight: bold;
  color: var(--clr-brown-800);
}

.preparation__item--mark::before {
  color: var(--clr-rose-800);
}

.preparation__label {
  font-weight: 600;
}

.preparation__text {
  margin: 0;
}

/*instructions*/

.instructions__list {
  counter-reset: my-counter;
}

.instructions__item {
  position: relative;
  align-items: start;
  padding-left: clamp(2rem, 1.2500rem + 3.2000vw, 4.25rem);
  counter-increment: my-counter;
}

.instructions__item::before {
  content: counter(my-counter) ".";
  position: absolute;
  left: 0;
  font-weight: 700;
  color: var(--clr-brown-800);
}

.instructions__item--mark::marker {
  font-size: clamp(1rem, .6667rem + 1.4222vw, 2rem);
  font-weight: 600;
  color: var(--clr-brown-800);
}

.instructions__label {
  font-weight: 600;
}

/*nutrition*/



.nutrition__description {
  margin-bottom: clamp(.813rem, .5423rem + 1.1548vw, 1.625rem);
}

.nutrition__table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.nutrition__table tr:not(:last-child) {
  border-bottom: 1px solid var(--clr-stone-150);
}

.nutrition__cell {
  padding-top: clamp(.625rem, .3333rem + 1.2444vw, 1.5rem);
  padding-right: .5rem;
  padding-bottom: clamp(.813rem, .6047rem + .8889vw, 1.438rem);
  text-align: left;
  vertical-align: middle;
   overflow-wrap: anywhere; 
}

.nutrition__table-label {
  padding-left: clamp(2rem, 1.3333rem + 2.8444vw, 4rem);
  font-weight: normal;
}

.nutrition__table-value {
  padding-left: clamp(.625rem, .2083rem + 1.7778vw, 1.875rem);
  width: 51%;
  font-weight: 700;
  color: var(--clr-brown-800);
}

@media (min-width: 48rem) {
  body {
    padding: 0 1.875rem 0 1.875rem;
    width: 100%;
    max-width: 93.75rem;   /* 1500px */
  }

  .wrapper-page {
    border-radius: 28px;
  }

  .hero__wrapper-img {
    padding: 63px;
  }

  .hero__img {
    border-radius: 26px;
  }

  .hero__title {
    font-weight: 400;
  }

  .instructions__container {
    padding-right: 5rem;
  }

  .nutrition {
    padding-top: 3.125rem;
    padding-bottom: 3.5rem;
  }
}

.attribution {
  padding: 10px;
  width: 100%;
  font-size: .6875rem;
  text-align: center;
}

.attribution__text {
  margin-right: 3px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: underline;
}
